<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751746148892-jovrosn7qe1t8oe8usph3602u7n4kfd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751746148892-jovrosn7qe1t8oe8usph3602u7n4kfd3</string>
	<key>API_KEY</key>
	<string>AIzaSyDITrEM8ARzOUYtOyUOTPdaju_CuvypFvY</string>
	<key>GCM_SENDER_ID</key>
	<string>751746148892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squadMakers</string>
	<key>PROJECT_ID</key>
	<string>squadmakers-8428c</string>
	<key>STORAGE_BUCKET</key>
	<string>squadmakers-8428c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751746148892:ios:e3e38a233eac104b194dd9</string>
</dict>
</plist>